header {
  background-color: orange;
  background: linear-gradient(to bottom right, #ef6f00, #efab00);
  height: 120px;
}

#logo {
  color: white;
  font-size: 60px;
  margin-top: 18px;
  text-align: center;
}
